<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
 
</head>
<div [ngStyle]="{'background': config.color,
                  'padding': '20px',
                  'border':'5px solid black',
                  'border-color': config.fondo}">
<body>
  <h1>Bienvenido a la {{title}}</h1>
  <p>{{description}}</p>

  <nav>

    <a [routerLink] = "['/']"  >Home</a>
    &nbsp;
    <a [routerLink] = "['/zapatillas']"  >Zapatillas</a>
    &nbsp;
    <a [routerLink] = "['/videojuego']"  >Videojuegos</a>
    &nbsp;
    <a [routerLink] = "['/cursos']"  >Home</a>
    &nbsp;
    <a [routerLink] = "['/externo']"  >Externo</a>
    &nbsp;




    </nav>
  <!--<button (click)="ocultarVideojuegos()">Ocultar</button>
  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <zapatillas></zapatillas>
  <cursos></cursos>-->
  <router-outlet></router-outlet>
</body>
</div>
</html>